$grid: $global-grid;

@mixin grid($width: $grid) {
  max-width: $width;
  margin: 0 auto;
}

main {
  height: 100vh;
}

.main-layout {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 0.1fr 3fr 1fr;
  grid-template-areas: "header main sidebar";

  @include bp($desktop, max) {
    grid-template-areas:
      "main sidebar"
      "header header";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 120px;

    .main-page-content  {
        margin: 1rem;
    }

    .main-nav,
    .main-header {
        flex-direction: row;
    }

    .main-nav {
        &--login {
            .grid {
                grid-gap: 0;
            }
        }

        .toggle-switch {
            margin-top: 0;
        }

        .link {
            margin-bottom: 0;
        }
    }
  }

  @include bp($small, max) {
    grid-template-areas:
      "main main"
      "header header";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;

    .main-sidebar {
        display: none;
    }

    .main-nav {
        &--login {
            display: none;
        }

        &--link {
            justify-content: center;
            align-content: center;
            width: 100%;
        }

        &--settings {
            display: none;
        }
    }
  }
}

.main-game-layout {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 0.1fr 2fr;
  grid-template-areas: "header main";

  .main-page-content  {
    margin-right: 1rem;
  }

}

.main-header {
  grid-area: header;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-radius: $radius;
  //box-shadow: $shadow;
}

.main-page-content {
  grid-area: main;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: $radius;
  //box-shadow: $shadow;
}

.main-sidebar {
  grid-area: sidebar;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  //background-color: var(--secondary-color);
  //border-radius: $radius;
  //box-shadow: $shadow;
}

.row {
  @include grid;
}
